body{
    background: linear-gradient(90deg, rgba(255, 166, 0, 0.5), rgba(255, 115, 1, 0.5), rgba(245, 245, 44, 0.5) );
}
form{
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0), 0);
}
.form{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 115, 0, 0.205)
}
